<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  

</head>
<style>
  .card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 40%;


}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  </style>
    <body>
        
         <div class="jumbotron text-center">
    <h2>Login Page</h2>      
      </div>
           
<div class="container text-center ">
        </div>
        <div class="container text-center"style="margin-left: 200px ">
        <div class="row">
          
            <div class="col-sm-4 text-center">
                <div class="card">
                    <img src="assets/img/user.png" alt="Avatar" style="width:100%">
                    <br><br>
                      <a routerLink="/ulogin"> <button class="btn btn-default" >User</button></a>
                      <br><br>
                    </div></div>
                    <div class="col-sm-4 text-center">
                        <div class="card">
                            <img src="assets/img/trainer.png" alt="Avatar" style="width:100%">
                            <br><br>
                              <a routerLink="/mlogin"> <button class="btn btn-default" >Mentor</button></a>
                              <br><br>
                            </div></div>
   <div class="col-sm-4 text-center">
                <div class="card">
                    <img src="assets/img/admin.png" alt="Avatar" style="width:100%">
                    <br><br>
                      <a routerLink="/alogin"> <button class="btn btn-default" >Admin</button></a>
                      <br><br>
                    </div></div>
           
    </div>
        </div>

        

</body>
    
</html>




