<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
     <style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
    </style>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a routerLink="/umenu" class="navbar-brand">User Dashboard</a>
      </div>
      
        <div class="collapse navbar-collapse" id="myNavbar">
          
        
      
       <ul class="nav navbar-nav navbar-right">
       
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Hi {{user}} </a>
        <ul class="dropdown-menu">
        <li><span class="glyphicon glyphicon-off"></span> Logout</li>
      </ul>
    </li>
      </ul>
        
  
      
      <form class="navbar-form navbar-right" action="/action_page.php">
        
        
  
      </form>
    </div>
    
    </div></nav>
    
    <body>
        
         <div class="jumbotron text-center">
    <h2>User Payment Dashboard</h2>      
      </div>
       
            
        <div class="container-fluid well" style="border: solid">
          <div class="row">
              <div class="col-lg-2">
                 <div class="card" style="width: 100%">
  <img src="assets/img/user.png" alt="Avatar" style="width:100%">
  <div class="container-fluid">
       
    <h4><span class="glyphicon glyphicon-user"></span><b>  {{user1.firstName}} {{user1.lastName}} </b></h4> 
    <p>Trainee level</p> 
  </div>
</div>
              </div>
              <div class="col-lg-10 text-left">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id </th>
    <th>Mentor</th>
    <th>Training Name</th>
    <th>Payment</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pay of payments">
    <td>{{pay.id}}</td>
    <td>{{pay.mentorName}}</td>
    <td>{{pay.skillName}}</td>
    <td><button type="button" class="btn btn-primary btn-block"  (click)="getTrainings(pay.userId,pay.amount,pay.id)" > <span class="glyphicon glyphicon-ok"></span> Proceed To Pay Fees</button></td>
  </tr>
  </tbody>
</table>   
                  
          <div *ngIf="showId">        
                  
                  
                   <table class="table table-striped">
  <thead>
  <tr>
      <th class="hidden">Id </th>
      <th>Fees</th>
      <th>Action</th>
      <th></th>
      
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="hidden">{{training.trainingId}}</td>

      <td> {{training.fees}} </td>
    <td> <button type="button" class="btn btn-success"  (click)="Payfees(training.fees)" ><span class="glyphicon glyphicon-ok"></span> Pay Fees</button></td>

  </tr>
  </tbody>
</table> 
    
                  </div>
                  
              </div>
              </div>
                      
              
              
              
            
        </div>
       
    </body>


