
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    
    
    <style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
    </style>
    

 

    
        
         <div class="jumbotron text-center">
    <h2>Trainings</h2>      
      </div>
        <div class="container-fluid well">
            
            <br>
             <div class="container-fluid well" style="border: solid">
          <div class="row">
                 
                     <div class="col-sm-4" *ngFor="let tech of trainings">
                 <div class="card">
  <img src="assets/img/course.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>{{tech.techName}}</b></h4> 
    <p>{{tech.description}}</p> 
  </div>
</div>
              </div>
                 
                 </div>
                
                 

              
        </div>
        </div>
   


