<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  
</head>
    <body>
        
         
           
<div class="container">

  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Sign in</h1>
      <div class="social-container">
        <a class="social"><i class="fa fa-facebook-f"></i></a>
        <a class="social"><i class="fa fa-google-plus"></i></a>
        <a class="social"><i class="fa fa-linkedin"></i></a>
      </div>
      <span>or use your account</span>
      <input type="text" [(ngModel)]="username" name="username" placeholder="User Name" />
      <input type="password" [(ngModel)]="password" name="password" placeholder="Password" />
       <button (click)=authenticate() >Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
     
      <div class="overlay-panel overlay-right">
        <h1>Hello!</h1>
        <p>To keep connected and edit please login</p>
      </div>
    </div>
  </div>
</div>

</body>
    
</html>




